= simple_form_for(@school) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :phone
    = f.input :email
    .form-group
      = f.association :location, label_method: :address, include_blank: true, class: 'form-control'
    .form-group
      = f.label :ownership
      = f.select :ownership, School.ownership_options, {}, {class: 'form-control'}
    .form-group
      = f.label :level
      = f.select :level, School.level_options, {}, {class: 'form-control'}
    .form-group
      = f.label :mode
      = f.select :mode, School.mode_options, {}, {class: 'form-control'}
    .form-group
      = f.label :gender
      = f.select :gender, School.gender_options, {}, {class: 'form-control'}
    = f.input :about, as: :text, input_html: { rows: 6 }
    .form-group
      = f.label :logo
      = image_tag(@school.logo_url) if @school.logo?
      = f.file_field :logo
      = f.hidden_field :logo_cache
    .form-group
      = f.label :banner
      = image_tag(@school.banner_url) if @school.banner?
      = f.hidden_field :banner_cache
      = f.file_field :banner

  .form-actions
    = f.button :submit, class: 'btn btn-brand-secondary'
