- content_for :title do
  Schools

.schools
  %h1 Search for a school
  %br/
  / Filter options
  .row
    .col-md-12
      = form_tag schools_path, method: "get", id: "school-search-form", class: "form-inline" do
        .form-group
          = label :ownership, "ownership", class: "block"
          = select_tag :ownership, options_for_select(School.ownership_options, params[:ownership]), class: 'form-control search-select'
        .form-group
          = label :level, "level", class: "block"
          = select_tag :level, options_for_select(School.level_options, params[:level]), class: 'form-control search-select'
        .form-group
          = label :mode, "mode", class: "block"
          = select_tag :mode, options_for_select(School.mode_options, params[:mode]), class: 'form-control search-select'
        .form-group
          = label :gender, "gender", class: "block"
          = select_tag :gender, options_for_select(School.gender_options, params[:gender]), class: 'form-control search-select'
        .form-group
          = label :search, "search", class: "invisible block"
          = submit_tag "Search", name: nil, class: "btn btn-brand-primary text-center search-submit"
  %br/
  .row
    .col-md-12
      %p
        %em.text-muted Search Results
  / List of schools
  - unless @schools.blank?
    .row
      .col-md-9
        - @schools.each do |school|
          .index-card
            %h4
              = school.name
            %hr/
            .row
              .col-md-4
                = link_to cl_image_tag(school.logo_url ? school.logo_url : "edu-logo-red_ulebsf.png", width: "60%", alt: "#{school.name} logo"), school
              .col-md-8
                %p.text-xs-justify
                  = truncate(school.about, length: 400)
            .row
              .col-md-12
                %p= link_to "View School Profile", school, class: "btn btn-brand-orange pull-right js-block-sm"
  - else
    / No schools in search
    .row
      .col-md-12
        %h4 There are no schools matching your search. Please try again
  .row
    .col-md-9
      .paginate.text-center
        = will_paginate @schools

  %br
