= simple_form_for @location, html: { class: 'form' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :street
    = f.input :city
    .form-group
      = f.association :state, include_blank: true, class: 'form-control'
    = f.input :country
    = f.input :zip
    = f.input :latitude
    = f.input :longitude

  .form-actions
    = f.button :submit, class: "btn btn-success"
