%p#notice= notice

%p
  %b City:
  = @location.city
%p
  %b County:
  = @location.state
%p
  %b Country:
  = @location.country
%p
  %b Zip:
  = @location.zip
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
